{% extends 'base_learn.html' %}
{% block nav %}
<ul class="nav nav-tabs nav-justified" >
    <div class="col-sm-1"></div>
    <li class=" col-sm-2 " role="presentation" >
        <a href="{% url 'learn:index' %}"> Home</a>
    </li>
    <li class=" col-sm-2" role="presentation">
        <a href=""> Category</a>
    </li>
    <li class=" col-sm-2" role="presentation">
        <a href="">menu4</a>
    </li>
    <li class=" col-sm-2" role="presentation">
        <a href=""> Lien he</a>
    </li>
    <li class=" col-sm-2" role="presentation">
        <a href=""> menu5</a>
    </li>

</ul>
{% endblock %}
{% block content %}
day la trang index
{% endblock %}