{% extends 'manage/index_manage.html' %}
{% block title %}
Trang quan ly tai khoan
{% endblock %}
{% block content %}
<div style="margin: 0 0 0 10px;">
    <legend>
        <div class="form-group form-inline" role="form">
        <span>
            <a href="{% url 'learn:profile_manage' %}" role="button" class="btn btn-default"> Manage</a>&nbsp;
            <a href="{% url 'learn:profile_user' %}" role="button" class="btn btn-default"> User</a>
        </span>
        <span style="float: right; margin: 0 5px 0 0;">
            <form class="form-inline" action="{% if staff %}{% url 'learn:profile_manage' %} {% else %} {% url 'learn:profile_user' %} {% endif %}" method="get">
                {% csrf_token%}
                <input class="" type="text" name="search" placeholder="Search" value="">
                <input type="hidden" name="staff" value="{{staff}}">
                <button class="btn btn-danger btn-sm" role="button" type="submit" value="0">Search</button>
            </form>
        </span>
        </div>
    </legend>
    <div class="row">
        {% for obj in list_user_profile %}
        <div class="col-sm-3">
            <!--<div style="position: static; float: left;">-->
            <!--<div class=""-->
            <!--style="width: 300px; height: 200px; float: left; border: 1px solid black; position:relative; margin: 0 0 5px 0;">-->
            Username : <a href="{% url 'learn:detail_profile' obj.pk%}"> {{obj.username}}<br></a>
            First name : {{ obj.first_name}}<br>
            Last name : {{ obj.last_name}}<br>
            Email : {{ obj.email}}<br>
            Date Join : {{obj.date_joined|date:"d-m-Y"}}<br>
            <!--</div>-->
            <!--</div>-->
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}