{% extends 'manage/index_manage.html' %}
{% block title %}
    Detail Subject
{% endblock %}

{% block content %}
    <div class="col-sm-6">
        <div style="margin-left: 5px;">
            <legend>
                <span>Detail Subject</span>
                <span style="float: right; margin-right: 10px;">
                    <a href="javascript:history.go(-1)" class="btn btn-info btn-xs" role="button">back</a>
                    <a href="{% url 'learn:edit_subject' detail_subject.id %}" class="btn btn-info btn-xs"
                       role="button">Edit</a>
                    <form action="{% url 'learn:delete_subject' %}" method="post" style="float: right; margin: 0 0 0 5px">
                        {% csrf_token %}
                        <input type="hidden" value="{{ detail_subject.id }}" name="subject_id">
                        <button  class="btn btn-danger btn-xs" type="submit" role="button">Delete</button>
                    </form>
                </span>
            </legend>
            <p>- ID : {{ detail_subject.id }}</p>

            <p>- Name course : {{ detail_subject.name }} </p>

            <p>- Created_at : {{ detail_subject.created_at|date:"d-m-Y" }}</p>

            <p>- Updated_at : {{ detail_subject.updated_at|date:"d-m-Y" }}</p>

            <p>- Begin_at : {{ detail_subject.begin_at|date:"d-m-Y" }}</p>

            <p>- End_at : {{ detail_subject.end_at |date:"d-m-Y" }}</p>
        </div>
        <div style="margin-left: 5px;">
            <fieldset>
                <legend>Description Subject</legend>
                <p>{{ detail_subject.description }}</p>
            </fieldset>
        </div>
    </div>
    <div class="col-sm-6">
        <div class=" row">
            <div class="col-sm-6">
                <legend>
                    <span>Task of Subject</span>
            <span style="float: right; margin-right: 10px;">
                <a href="{% url 'learn:create_task' %}" class="btn btn-info btn-xs"
                   role="button">Create new Task</a>
            </span>
                </legend>
                <div class="row">
                    <div class="col-sm-1">
                        ID
                    </div>
                    <div class="col-sm-6">
                        Name
                    </div>
                </div>
                {% for obj in list_task %}
                    <div class="row">

                        <div class="col-sm-1">
                            <a href="{% url 'learn:detail_task' obj.id %}"> {{ obj.id }}</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{% url 'learn:detail_task' obj.id %}"> {{ obj.name }}</a>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="col-sm-6">
                <legend>
                    Subject of Course

                </legend>
                <div class="row">
                    <div class="col-sm-1">
                        ID
                    </div>
                    <div class="col-sm-6">
                        Name
                    </div>
                </div>
                {% for obj in list_course %}
                    <div class="row">

                        <div class="col-sm-1">
                            <a href="{% url 'learn:detail_course' obj.id %}"> {{ obj.id }}</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="{% url 'learn:detail_course' obj.id %}"> {{ obj.name }}</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        <legend>
            <span>
                User of Subject
            </span>
            <span style="float: right; margin-right: 20px;">
                <a href="{% url 'learn:add_user_sub_view' detail_subject.id %}" role="button"
                   class="btn btn-success btn-xs">AddUser</a>
            </span>
        </legend>
        <table class="table table-bordered">
            <tbody>
            {% for obj in list_user %}
                <tr>
                    <td class="col-sm-2">
                        {{ forloop.counter }}
                    </td>
                    <td class="col-sm-10">
                        <strong class="text-success">username</strong> : <strong
                            class="text-info">{{ obj.username }}</strong><br>
                        {{ obj.first_name }} {{ obj.last_name }}

                    </td>
                    <td>
                        <form action="{% url 'learn:remover_user_sub' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ obj.pk }}" name="user_id">
                            <input type="hidden" value="{{ detail_subject.id }}" name="subject_id">
                            <button type="submit" class="btn btn-danger btn-xs"
                                    onclick="return confirm('Are you sure you want remover user ?')">Remover
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}