{% extends 'manage/index_manage.html' %}
{% block title %}
Edit course
{% endblock %}

{% block content %}
<div style="margin-left: 15px;">
    <form action="{% url 'learn:edit_course' course.id%}" method="post">
        <legend>Edit Course</legend>
        {% csrf_token %}
        {{form.as_p}}
        <p><b>Created_at</b>: {{course.created_at|date:"d-m-Y"}}</p>

        <p><b>Updated_at</b>: {{course.updated_at|date:"d-m-Y"}}</p>
        <button class="btn btn-default" type="submit" value="Send">Send</button>
        <button class="btn btn-default" type="reset" value="Reset">Reset</button>
        <a href="{% url 'learn:list_course' %}" class="btn btn-default" role="button">Cancel</a>
    </form>
</div>
{% endblock %}